
.. _{{ feature }}:

Feature: {{ feature }}
========={{ '=' * feature|length }}

Part of :ref:`{{  feature.use_case  }}`

.. graphviz::

   digraph d {
      rankdir = "LR";
      node [shape="rectangle"];
      action [label="{{ feature.specification.action }}" shape="ellipse"];
      result [label="{{ feature.specification.result }}"];
      object [label="{{ feature.specification.obj }}"];
      object -> action -> result;
   }

Action: :ref:`{{ feature.specification.action }}`

Result: :ref:`{{ feature.specification.result }}`

Object: :ref:`{{ feature.specification.obj }}`

{% if feature.allowed_actors()|length > 0 %}{% if feature.allowed_actors()|length > 1 %}
There are{% else %}There is{% endif %} {{ feature.allowed_actors()|length }}
actor{% if feature.allowed_actors()|length != 1 %}s{% endif %}
with access to this feature:
{% for actor in feature.allowed_actors() %}
 * :ref:`{{ actor }}`{% endfor %}
{% endif %}

Scenarios (business accetpance criteria):
{% for scenario in feature.scenarios() %}
 * :ref:`{{ scenario }}`{% endfor %}

