.. _requirements:

Requirements
============


{% for ucp in packages %}
.. _{{ ucp }}:

{{ ucp }}
{{ '-' * ucp|length }}

{{ ucp.description }}

{% for uc in ucp.use_cases() %}

.. _{{ uc }}:

Use Case: {{ uc }}
^^^^^^^^^^{{ '^' * uc|length }}

{{ uc.description }}

{% if uc.features()|length > 0 %}

.. graphviz::

   digraph d {
      rankdir="LR";
      label="{{ uc }}";
      // verbs
      {% for verb in uc.verbs_used() %}{{ verb.code() }} [shape="ellipse" label="{{ verb }}"]
      {% endfor %}
      // nouns
      {% for noun in uc.nouns_used() %}{{ noun.code() }} [shape="rectangle" label="{{ noun }}"];
      {% endfor %}
      // acted on
      {% for fspec in uc.feature_specifications() %}{% if fspec.obj != fspec.result %}
        {{ fspec.action.code() }} -> {{ fspec.obj.code() }};
        {{ fspec.action.code() }} -> {{ fspec.result.code() }};
      {% else %}
        {{ fspec.action.code() }} -> {{ fspec.obj.code() }};
      {% endif %}{% endfor %}
   }


.. toctree::

{% for feature in uc.features() %}
   features/{{ feature | replace(' ', '_') }}.rst{% endfor %}

{% else %}
**NOT YET MODELLED - ANALYSIS REQUIRED**
{% endif %}{% endfor %}{% endfor %}

